html, body {
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
    background-color: lightgray;
}

.gfg {
    height: 50px;
    width: 50px;

}

#bdSidebar {
    width: 150px;
}


.mynav {
    color: #fff;
}

.mynav li a {
    color: #fff;
    text-decoration: none;
    width: 100%;
    display: block;
    border-radius: 5px;
    padding: 8px 5px;
}

.mynav li a.active {
    background: rgba(255, 255, 255, 0.2);
}

.mynav li a:hover {
    background: rgba(255, 255, 255, 0.2);
}

.mynav li a i {
    width: 25px;
    text-align: center;
}

.custom-bg-color {
    background: #F07C01;
}

.fixed-top-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1030;
}

.main-content {
    padding-top: 50px;
}

/* button page up position fixed in bottom right corner*/
#btn-page-up {
    bottom: 20px;
    right: 20px;
    display: none;
    background: #F07C01;
    border-color: #F07C01;
}

