

/* Extra small devices (phones, 600px and down) */
/*@media only screen and (max-width: 600px) {*/
/*    .row {background: green}*/
/*}*/

/*!*!* Small devices (portrait tablets and large phones, 600px and up) *!*!*/
/*!*@media only screen and (min-width: 600px) {*!*/
/*!*    .row {width: 500px;}*!*/
/*!*}*!*/

/*!* Medium devices (landscape tablets, 768px and up) *!*/
/*@media only screen and (min-width: 768px) {*/
/*    .row {overflow: auto}*/
/*}*/

/*!* Large devices (laptops/desktops, 992px and up) *!*/
/*@media only screen and (min-width: 992px) {*/
/*    .row {background: yellow}*/
/*}*/

/*!* Extra large devices (large laptops and desktops, 1200px and up) *!*/
/*@media only screen and (min-width: 1200px) {*/
/*    .row {width: 100px;}*/
/*}*/


 /*Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #mapdiv.row {
        transform: scale(0.6); /* Initial scale factor */
        transform-origin: top left; /* Set the transform origin */
        margin: auto;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #mapdiv.row {
        transform: scale(0.8); /* Initial scale factor */
        transform-origin: top left; /* Set the transform origin */
        margin: auto;
    }
}