/*!* Adjust styles as needed *!*/
/*.dropdown:hover .dropdown-menu {*/
/*    display: block;*/
/*}*/
/*.custom-bg-color {*/
/*    background-color: #ee7f00;*/
/*}*/

/*.overlay {*/
/*    position: fixed; !* Zorgt ervoor dat de overlay de hele pagina bedekt *!*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background-color: rgba(0, 0, 0, 0.5); !* Zwart met 50% opacity *!*/
/*    z-index: 1; !* Zorgt ervoor dat het boven andere inhoud staat *!*/
/*    display: none; !* Verbergt de overlay initieel *!*/
/*}*/

/*.close {*/
/*    cursor: pointer;*/
/*}*/

/*.close:hover {*/
/*    color: dimgrey;*/
/*}*/

.example {
    padding:20px;
    color: white;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 300px) {
    .example {background: green}
}

@media only screen and (min-width: 600px) {
    .example {background: yellow}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .example {background: blue}
}

/*!* Small devices (portrait tablets and large phones, 600px and up) *!*/
/*@media only screen and (min-width: 600px) {*/
/*    .example {width: 500px;}*/
/*}*/

/*!* Medium devices (landscape tablets, 768px and up) *!*/
/*@media only screen and (min-width: 768px) {*/
/*    .example {width: 600px;}*/
/*}*/

/*!* Extra large devices (large laptops and desktops, 1200px and up) *!*/
/*@media only screen and (min-width: 1200px) {*/
/*    .example {width: 100px;}*/
/*}*/