<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="~{index :: headerFragment}"></div>
</head>
<body>
<div th:insert="~{index :: navbarFragment}"></div>

<h1>
    &nbsp; Computers
</h1>
<div class="container text-centre">
    <div class="row row-cols-2 row-cols-md-5 row-cols-lg-10 g-1" id="innerdiv">
    </div>
</div>

<div th:insert="~{index:: footerFragment}"></div>
</body>
</html>
