<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: headerFragment (fragmentTitle='Bioinf status')">
    <title>Text title</title>
</head>

<body style="background-color: lightgrey">
<div th:insert="template :: menubar"></div>

<br>
<br>
<br>
<h1 class="text-center">SSH Suggestions</h1>
<div class="container-fluid w-75">
    <h5 class="text-center">Below is a collection of workstations that can be used for an ssh connection. The workstations are sorted by status, load, memory and temperature.</h5>
</div>
<div class="container-fluid">
    <div class="row row-cols-2 row-cols-md-3 justify-content-center w-100" id="suggestions">
    </div>
</div>
<div class="container-fluid my-3 justify-content-center w-100">
    <div class="row">
        <div class="col d-flex flex-row flex-wrap justify-content-center">
            <input class="form-check-input form-check-input-lg mx-1" type="checkbox" autocomplete="off" id="D108" name="room" value="D108">
            <label class="form-check-label" for="D108">D108</label>

            <input class="form-check-input form-check-input-lg mx-1" type="checkbox" autocomplete="off" id="D107" name="room" value="D107">
            <label class="form-check-label" for="D108">D107</label>

            <input class="form-check-input form-check-input-lg mx-1" type="checkbox" autocomplete="off" id="H186" name="room" value="H186">
            <label class="form-check-label" for="H186">H186</label>

            <input class="form-check-input form-check-input-lg mx-1" type="checkbox" autocomplete="off" id="H188A" name="room" value="H188A">
            <label class="form-check-label" for="H188A">H188A</label>

            <input class="form-check-input form-check-input-lg mx-1" type="checkbox" autocomplete="off" id="H1122" name="room" value="H1122">
            <label class="form-check-label" for="H1122">H1122</label>

            <input class="form-check-input form-check-input-lg mx-1" type="checkbox" autocomplete="off" id="Server" name="room" value="Server">
            <label class="form-check-label" for="Server">Server</label>

            <div class="form-check form-switch mx-1">
                <label class="form-check-label" for="statusSlider">Hide Offline</label>
                <input class="form-check-input" type="checkbox" role="switch" id="statusSlider">
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row row-cols-2 row-cols-md-3 justify-content-center w-100" id="innerdiv">
    </div>
</div>

<button th:replace="template :: pageUpbutton"></button>

<th:block th:insert="template :: scripts"></th:block>
<script type="application/javascript" src="js/createWorkStationCards.js"></script>
<script type="application/javascript" src="js/main.js"></script>
<script type="application/javascript" src="js/createScrollButton.js"></script>
<script type="application/javascript" src="js/requests.js"></script>
<script type="application/javascript" src="js/createSuggestionsCards.js"></script>
<script type="module" src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</body>
</html>