<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>H186</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=400" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../style/viewport.css">
    <link rel="stylesheet" type="text/css" href="../../style/sidebar.css">
</head>
<body>
<div class="container my-3 d-flex justify-content-center" id="buttonbar">
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-secondary m-1" id="D107">Map D1.07</button>
            <button type="button" class="btn btn-secondary m-1" id="D108">Map D1.08</button>
            <button type="button" class="btn btn-secondary m-1" id="H1122">Map H1.122</button>
            <button type="button" class="btn btn-secondary m-1" id="H186">Map H1.86</button>
            <button type="button" class="btn btn-secondary m-1" id="H188A">Map H1.88A</button>
            <button type="button" class="btn btn-secondary m-1" id="Server">Map Servers</button>
        </div>
    </div>
</div>

<p class="text-danger text-center">This feature works best on a wide window</p>
<p class="text-danger text-center">Maybe explain how the map works? North, East, South, West?</p>

<div class="container-fluid w-100 custom-container">
    <div class="row" id="mapdiv">
            <!-- Map fragments are being inserted here... -->
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script type="application/javascript" src="js/CreateMapOfRooms.js"></script>
</body>
</html>
