<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: headerFragment (fragmentTitle='Bioinf status - Map')">
    <title>Text title</title>
</head>

<body style="background-color: lightgrey">
    <div th:insert="template :: menubar"></div>
    <br><br>

    <div class="container-fluid my-3 d-flex justify-content-center" id="buttonbar">
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary m-1" id="D107">Map D1.07</button>
                <button type="button" class="btn btn-secondary m-1" id="D108">Map D1.08</button>
                <button type="button" class="btn btn-secondary m-1" id="H1122">Map H1.122</button>
                <button type="button" class="btn btn-secondary m-1" id="H186">Map H1.86</button>
                <button type="button" class="btn btn-secondary m-1" id="H188A">Map H1.88A</button>
                <button type="button" class="btn btn-secondary m-1" id="Server">Map Servers</button>
            </div>
        </div>
    </div>

    <p class="text-danger text-center">The main projecting pc (teacher pc) is always at the top of the map. See the about page for more information.</p>

    <div class="container-fluid w-100 custom-container">
        <div class="row" id="mapdiv">
                <!-- Map fragments are being inserted here... -->
        </div>
    </div>

    <button th:replace="template :: pageUpbutton"></button>

    <th:block th:insert="template :: scripts"></th:block>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="application/javascript" src="js/CreateMapOfRooms.js"></script>
    <script type="application/javascript" src="js/createScrollButton.js"></script>
</body>
</html>
